body {
  text-align: center;
  font-family: Helvetica;
}
.navigation ul {
  font-size: 18px;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}

.design h3 {
  color: white;
}
p {
  font-size: 14px;
}
.footer ul {
  float: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
